{% load thumbnail %}
<article>
    <ul>
        <li>
            Автор: <a href="{% url "posts:profile" post.author.username %}" style="color: #1e2125; text-decoration:none "><b>{{ post.author.get_full_name}}</b></a>
        </li>
        <li>
            Группа: <a href="{% url 'posts:group_list' post.group.slug %}" style="color: #1e2125; text-decoration: none"><b>{{ post.group.title }}</b></a>
        </li>
        <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
        <li>
            <a href="{% url "posts:post_detail" post.id %}" style="color: #1e2125; text-decoration:none"><b>Перейти на страницу поста</b></a>
        </li>
    </ul>
    {% thumbnail post.image "1200x600"  upscale=True as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    <p>{{ post.text }}</p>
    {% if not forloop.last %}<hr>{% endif %}
</article>